 #wrapperGenerale {
            /*background-color: gray;*/
            width: 760px;
            border: 0px solid #000;
            margin: auto;
        }
        
        #rigaSopra {
            width: 760px;
            border: 0px solid #000;
            margin-bottom: 20px;
        }
        
        #rigaSopraSinistra {
            background-color: red;
            width: 300px;
            border: none;
        }
        
        #rigaSopraDestra {
            border-bottom: 1px solid #000;
            width: 458px;
            margin-left: 2px;
        }
        
        #rigaSotto {
            border: 1px solid #000;
            margin-top: 12px;
        }
        
        #rigaSottoPrimaColonna {
            border: none;
            width: 335px;
            margin-right: 5px;
        }
        
        #sottoColonnaUno {
            background-color: none;
            margin-right: 5px;
        }
        
        #sottoColonnaDue {
            background-color: transparent;
        }
        
        #immagineProdotto {
            width: 300px;
        }
        
        #barraVideo {
            width: 300px;
        }
        
        #barraProdottiCorrelati {
            width: 300px;
        }
        
        #barraProdottiCorrelati ul {
            margin-left: 0px;
            padding-left: 0;
            display: inline;

        }
        
        #barraProdottiCorrelati ul li {
            margin-left: 0;
            margin-right: 2px;
            padding: 0px;
            border-left: 0px solid #000;
            list-style: none;
            display: inline;
        }
        
        
        .margineBasso12 {
            margin-bottom: 12px;
        }
        
        .coloreProdotto {
            margin-bottom: 5px;
        }
        
        #rigaSottoSecondaColonna {
            width: 210px;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .sinistra {
            float: left;
        }
        
        .ultimo {
            clear: both;
        }
        
        .clear {
            clear: both;
        }

/*img {border: none;}*/

.container {
	height: 360px;
	width: 910px;
	margin: -180px 0 0 -450px;
	top: 50%; left: 50%;
	position: absolute;
}

ul.thumb {
	float: left;
	list-style: none;
	margin: 0; padding: 0px;
	width: 250px;
        max-width: 250px
}

ul.thumb li {
	margin: 0;
    padding: 2px;
	float: left;
	position: relative;
	width: 73px;
	height: 73px;
}
ul.thumb li img {
           width: 73px;
           height: 73px;
           border: 0px solid #000;
           padding: 0px;
	/* background: #f0f0f0; */
           background: #000;
	position: absolute;
	left: 0; top: 0;
	-ms-interpolation-mode: bicubic; 
}

ul.thumb li img.hover {
	background:url(thumb_bg.png) no-repeat center center;
	border: none;
}

img.thum_gallery {
    width: 80px;
    height: 80px;
    border: 0px solid #CCC;
}

#main_view.img:hover {
           border-color: #4d4d4d;
}

#main_view {
	float: left;
	padding: 0px 0;
}

#main_view  {
}

img#img_main_view {
           width: 300px;
           height: 360px;
           padding-bottom: 5px;
}

#tabellaImmaginiAnteprime {
    
 /*   width: 210px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 3px;
 */ 
}

#divMenuProdotto {
           width: 300px;
           margin-top: 10px;
           clear:both;
}

#menuProdotto {
           margin-left: 2px;
           padding: 0px;
           
}

#menuProdotto li {

           display: inline;
           list-style-type: none;
           /*padding: 5px;
           margin-top: 3px;*/
           border: 1px solid #CCC;
           background: none;
           
           padding: 0px;
           
}

#menuProdotto li.active {
           background-color: #abc;
}

#immagineTabImmagini, #immagineTabVideo {
           border: none;
           display: inline;
}

