
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: inherit;
		font-style: inherit;
		font-size: 100%;
		font-family: inherit;
		vertical-align: baseline;
	}
	

	body {
		color: #fff;
		font: 12px Arial, Helvetica, Verdana;
	}

	ul {
		list-style: none;
	}
	
	a:link, a:visited {
		color: #4D4D4D;
		text-decoration: none;
	}
	
	h1,h2,h3 {
		font-weight: bold;
	}
	
	h1 {
		font-size: 14px;
	}
	
	h4 {
		background-color: #EDEDED;
		color: #10100f;
		font-size: 14px;
		padding: 8px 10px 0px 10px;
	}
	
	h5 {
		color: #aaa;
		font-size: 9px;
	}
	
	a:hover, a:active {
		color: #f15c22;		
	}
	
	p,ul,ol,h1,h2,h3,hr,blockquote,table,
	#projects {
		margin-bottom: 8px;
	}
	
	strong,th,dt {
		font-weight: bold;
	}
	
	img {
		border: 3px solid #ccc;
		display: inline-block;
	}
/*	
img:hover,
#projects img:hover {
			border-color: #4d4d4d;
		}
*/
	.width_220 {
		width: 220px;
	}
	
	.width_260 {
		width: 260px;
	}
	
	.width_320 {
		width: 320px;
	}
	
	.width_810 {
		width: 810px;
	}	
	
	.col {
		float: left;
		margin: 4px 4px 0 0;
	}
	
	.box {
		background: #EDEDED;
		padding: 4px;
	}
	
	.sub-box {
		background: #EDEDED;
		padding: 4px;
	}	
	
	.nome-capo {
		font-size: 18px;
		font-weight: bold;
		background: #fff;
		padding: 6px;
		border-bottom:1px solid #999;
	}	
	
	body {
		background: #FFFFFF;
		color: #333;
		text-align: center;
	}

	#container {
		margin: 0 auto;
		text-align: left;
		width: 830px;
	}